body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

#controls {
  position: fixed;
  right: 2em;
  bottom: 1em;
  background-color: rgba(65, 65, 65, 0.75);
  z-index: 2;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: .4em; }
  #controls form {
    width: 100%;
    padding: 0 1em; }
    #controls form input {
      width: 100%;
      border-radius: .4em;
      margin-bottom: 1em; }
  #controls .row {
    display: flex; }
  #controls div.button {
    padding: .5em 2em;
    margin: .5em;
    text-transform: uppercase;
    border-radius: .4em;
    cursor: pointer;
    background-color: #419dd5; }
    #controls div.button:hover {
      box-shadow: inset 0 0 10px rgba(65, 65, 65, 0.8); }

.search-inputs {
  margin-bottom: 1em; }

.idle {
  color: gray; }

.active {
  background-color: rgba(22, 170, 50, 0.3) !important; }

.selecting {
  background-color: lightgray; }

.hidden {
  display: none !important; }

.group {
  padding-left: 2em; }

.group_parent {
  border: 2px solid #419dd5; }

.entry {
  display: flex;
  background-color: rgba(230, 230, 230, 0.76);
  border-radius: .4em;
  margin-bottom: 4px;
  padding: 2px; }
  .entry .start {
    font-size: 11px; }
  .entry .prop {
    padding: 0 .2em;
    flex: 1 1 0;
    border-right: 1px solid rgba(175, 175, 175, 0.2); }
  .entry .tags {
    flex-grow: 3;
    display: flex; }
    .entry .tags .tag {
      border-radius: .4em;
      padding: 0 .4em;
      margin-right: 0.2em;
      font-size: 13px;
      border: 1px solid rgba(0, 0, 0, 0.5); }
  .entry .name {
    flex-grow: 12; }
